/* universal rule */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

a {
  color: seashell;
}

h2 {
  padding: 0.6rem;
}

h4 {
  padding: 0.4rem;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* header */

header {
  display: flex;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  padding: 10px;
  justify-content: space-between;
  border-bottom: 1px solid seashell;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin: 0.6rem;
}

main {
  padding-top: 70px;
}

#mission {
  text-align: center;
  background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  padding-top: 300px;
}

.mission-container {
  background-color: black;
  align-items: center;
}

.tea-container {
  padding-top: 3rem;
  text-align: center;
}

.images {
  padding: 1.5rem 0;
}

.image {
  margin-bottom: 10px;
  padding: 0 20px;
}

.image h4 {
  text-align: center;
}

#location {
  background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  text-align: center;
}

#location h2 {
  padding-top: 50px;
  padding-bottom: 15px;
}

.location {
  background-color: black;
  width: 300px;
  margin-top: 0;
  margin: 0 20px;
}

.location h3 {
  padding: 15px;
}

.location p {
  line-height: 4rem;
  padding: 10px;
  opacity: 1;
}

#contact {
  text-align: center;
  height: 200px;
}

#contact h2 {
  padding-bottom: 2rem;
}

#contact h5 {
  padding: 1rem;
}

footer {
  margin-left: 20px;
  font-size: 0.9rem;
}
